<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> RoomScanner - Reservas </title>
    <link rel="stylesheet" href="../static/css/styles.css" />
</head>
<body>
<div class="container booking_list">
    <h2>Reservas</h2>
    <br />
    <table>
        <tr>
            <th> Reservado por: </th>
            <th>Andar</th>
            <th> Numero de ocupantes</th>
            <th>Previsao de duracao de ocupacao do espaco </th>
            <th>Hora de reserva</th>
        </tr>
        <th:block th:each="booking : ${Bookings}">
            <tr>
                <td th:text="${Bookings.emailUser}">...</td>
                <td th:text="${Bookings.floor}">...</td>
                <td th:text="${Bookings.numAttendees}">...</td>
                <td th:text="${Bookings.duration}">...</td>
                <td th:text="${Bookings.bookingHour}">...</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>
