<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RoomScanner - Lotação </title>
    <link rel="stylesheet" href="./styles.css" />
</head>
<body>
    <div class="container room_list">
        <h2> Lotação dos Espaços</h2>
        <br />
        <table>
            <tr>
                <th>Departamento</th>
                <th>Andar</th>
                <th>Disponibilidade</th>
            </tr>
            <th:block th:each="room : ${Rooms}"> <!-- TODO: VER COMO ISTO FUNCIONA -->
                <tr>
                    <td th:text="${Rooms.department}">...</td>
                    <td th:text="${Rooms.floor}">...</td>
                    <td th:text="${Rooms.freeSeats}">...</td> <!-- TODO: fazer algo como livres/total -->
                </tr>
            </th:block>
        </table>
    </div>
</body>
</html>
